 {{#if navbar}}
 {{else}}
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Shopping Cart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/viewproducts">Products</a>
            </li>
            {{#if count}}
            
               <li class="nav-item">
              <a class="nav-link active" href="/cart">Carts <span id="count"  class="badge" style="background-color:green;">{{count}}</span> </a>
            </li
            
        {{/if}}

           
            <li class="nav-item">
              <a class="nav-link" href="#">Orders</a>
            </li>
            {{/if}}

           
          </ul>
          {{#if user}}
          <div class="btn">
            <button  class="btn btn-primary user"><a class="text-dark" href="">{{user.name}}</a></button>
           <button  class="btn btn-secondary "><a class="text-dark" href="/logout">Log Out</a></button>
             </div>
            
             {{/if}}
   
 
 

        </div>
      </div>
      
    </nav>

  </header>