 <div>
        <form method="POST" class="box" action="/signup">
            <h1>Sign up</h1>
            <input name="name" type="text" placeholder="Name"> 
            <br>
            <input name="email" type="text" placeholder="Email"> 
            <br>
            <input name="password" type="password" placeholder="password">
            <br>
            <input type="submit" value="Sign Up">
            <a href="/login">One of us ?</a>
        </form>
    </div>